@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ZD | Logowanie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/images/logo.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/iCheck/square/blue.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>

<body class="hold-transition login-page">
    <div class="login-box">

        <div style="text-align:center;display:none" id="loaderDiv">
            <img src="~/adminlte/Content/loading.gif" width="150" />    
        </div>
        <div class="login-logo">

        </div>
        <div class="card">
            <br>
            <div class="card-body login-card-body">
                <img style="display:block; margin: 0 auto;" width="135" height="100" src="~/images/DM_Logo.png" />
                <p class="login-box-msg">System zarządzania dokumentami</p>
                <p class="login-box-msg" style="color:red;">@TempData["error"]</p>

                <form action="/Auth/Login" method="post">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="UserEmail" placeholder=" Email">

                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" name="password" placeholder="Password">

                    </div>
                    <div class="row">

                        <div class="col-4" style="display:block;margin: 0px auto;">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>